{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="example-wrapper">

   <h1>Metricsss</h1>
   
   <div>
    <h3>Users active in last 30 minutes</h3>
    <h1 {{stimulus_controller('hello', {apiUrl: path('api_get_live_users')})}}></h1>
   </div>

   {% for row in data %}
    <h2>{{row.title}}</h2>        
    <p>{{row.value}}</p>
    <hr>
   {% endfor %}

</div>
{% endblock %}
